<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/hypestyle@0.1.9/dist/css/hypestyle.min.css"
    />
    <title>File Sharing</title>

    <style>
      .form-control {
        max-width: 500px;
      }

      .btn {
        min-width: 100px;
        width: 15%;
        font-weight: bold;
      }

      .btn:hover {
        transform: scale(1.02);
      }

      input {
        color: black;
        background-color: white;
      }
    </style>
  </head>
  <body class="bg-body">
    <% if (locals.fileLink != null) { %>
    <div class="bg-green-dark-2 p-2 text-gray-light-9">
      Your file upload url is:
      <a
        class="text-blue-dark-1 text-hover-blue-dark-2"
        href="<%= locals.fileLink  %>"
        target="_blank"
        ><%= locals.fileLink %></a
      >
    </div>
    <% } %>

    <form
      action="/upload"
      method="post"
      enctype="multipart/form-data"
      class="container text-white mt-5"
    >
      <div class="form-group">
        <label for="file">File:</label>
        <input
          type="file"
          class="form-control"
          id="file"
          name="file"
          required
        />
      </div>

      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Enter a password for your file, or leave it empty."
        />
      </div>

      <button type="submit" class="btn bg-purple font-bold tr-sm">Share</button>
    </form>
  </body>
</html>
