<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      body {
        background-color: #151418;
        color: white;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }

      form {
        display: grid;
        gap: 1rem;
        padding-top: 5rem;
        grid-template-columns: auto 1fr;
        max-width: 500px;
        margin: 0 auto;
      }

      input[type="password"] {
        padding: 5px;
        border-radius: 3px;
        border: 1px solid #ccc;
      }
      input[type="password"]:focus {
        outline: none;
      }

      .btn-share {
        grid-column: span 2;
        background-color: #6a43e0;
        border: none;
        border-radius: 4px;
        padding: 4px 5px;
        cursor: pointer;
        color: white;
        font-family: Helvetica;
      }

      .btn-share:hover {
        transform: scale(1.02);
        background-color: #6537f2;
        color: white;
      }

      .alert {
        background-color: #ea3723;
        border-radius: 4px;
        color: white;
        padding: 10px;
        margin-bottom: 10px;
      }

      .alert a {
        color: rgb(86, 132, 241);
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <% if (locals.error == true) { %>
    <div class="alert">The password you entered is incorrect.</div>
    <% } %>

    <form method="post">
      <label for="file">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Enter the password, to download this file"
      />

      <button type="submit" class="btn-share">Download</button>
    </form>
  </body>
</html>
